section.counter.pb180
  .container
    .row
      .col-sm-3
        h3
          span.counter-text 52
        |                 
        p Weddings Shot
      |             
      .col-sm-3
        h3
          span.counter-text 204
        |                 
        p Rolls of Film
      |             
      .col-sm-3
        h3
          span.counter-text 122
        |                 
        p Events Attended
      |             
      .col-sm-3
        h3
          span.counter-text 67
        |                 
        p Photoshop Hours
