footer.main-footer

  .container
    .row
      .col-xs-12.col-md-2
        .footer-widget
          p
            img.footer-logo(src='../img/logo-white.png')
          |                     
          ul.list-unstyled.list-info
            li 65 E 14th Street
            |                         
            li NYC, NY 10037
          |                     
          ul.list-unstyled.list-info
            li 757-560-7499
            |                         
            li contact@solofy.com
          |                     
          ul.list-unstyled.list-inline.list-icn-container
            li
              a(href='#')
                i.icon-twitter
            |                         
            li
              a(href='#')
                i.icon-facebook
            |                         
            li
              a(href='#')
                i.icon-google-plus
            |                         
            li
              a(href='#')
                i.icon-pinterest2
      |             
      .col-xs-12.col-md-3
        .footer-widget
          h4.title Our Instagram
          |                     
          .insta
      |             
      .col-xs-12.col-md-4
        .footer-widget
          h4.title Featured Posts
          |                     
          dl.dl-horizontal.dl-post-container
            dt
              img(src='../img/demo/footer/blog1.jpg', alt='img')
            |                         
            dd
              h5.post-title
                a(href='blog-post.html') A look back at our year
              |                             
              p.content Sunt echo park heirloom keffiyeh skateboard irure, glossier odio artisan.
          |                     
          dl.dl-horizontal.dl-post-container
            dt
              img(src='../img/demo/footer/blog2.jpg', alt='img')
            |                         
            dd
              h5.post-title
                a(href='blog-post.html') Our top 10 creative projects
              |                             
              p.content Sunt echo park heirloom keffiyeh skateboard irure, glossier odio artisan.
      |             
      .col-xs-12.col-md-3
        .footer-widget
          h4.title About Us
          |                     
          p
            | Succulents fixie velit iPhone fashion axe. Distillery plaid cliche post ironic hot chicken activated charcoal, duis ullamco. Ready made neutra sint, put a bird on it gochujang hammock photo booth viral 8-bit four dollar toast ut. Lumber tbh swag, pour-over farm-to-table gluten-free voluptate semiotics.
  |     
  section.sub-footer.scheme2
    .container
      .row
        .col-xs-12.col-md-2
          p.rights &copy; Solofy Inc. 2018
        |                 
        .col-xs-12.col-md-10
          ul.list-unstyled.list-inline.list-footer-nav.pull-right
            li
              a(href='index.html') Home
            |                         
            li
              a(href='about-us.html') About Us
            |                         
            li
              a(href='team.html') Our Team
            |                         
            li
              a(href='services.html') Services
            |                         
            li
              a(href='portfolio-4c-masonry.html') Portfolio
            |                         
            li
              a(href='blog-classic-left-sidebar.html') Blog
            |                         
            li
              a(href='contact.php') Contact
