doctype //if IE 7
html.no-js.lt-ie9.lt-ie8(lang='en')  
//if IE 8
html.no-js.lt-ie9(lang='en')  
// [if gt IE 8] <!
html.no-js(lang='en')
  // <![endif]
  head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |     
    meta(name='author', content='')
    |     
    meta(name='description', content='')
    |     
    link(rel='shortcut icon', href='img/favicon.png')
    |     
    title Solofy
    |     
    link(rel='stylesheet', href='css/bootstrap.css')
    |     
    link(rel='stylesheet', href='css/fonts.css')
    |     
    link(rel='stylesheet', href='css/flexslider.css')
    |     
    link(rel='stylesheet', href='css/jquery.fancybox.css')
    |     
    link(rel='stylesheet', href='css/styles.css')
    |     
    link(rel='stylesheet', href='css/animate.css')
    |     
    script(src='js/libs/modernizr.min.js')
  body#contact
    // search box
    .search-big
      input.search-desktop(type='search', placeholder='Search...', autofocus='')
    // /search box
    // header wrap
    .header-wrap
      .header-wrap-inner
        // main navigation
        include ./includes/header.jade
        // /main navigation
        // banner title
        section.page-title-location
          .page-title-location-inner
            .container
              .row
                .col-xs-12
                  .location-container
                    ol.breadcrumb
                      li
                        a(href='/')
                          span.icn-container
                            i.icon-reorder
                          | Home
                      |                                     
                      li.active
                        a(href='/contact') Contact
                  |                             
                  .title-container
                    h1.title.white-title Get in touch with us.
        // /banner title
    // /header wrap
    // contact
    section.contact-container
      .container
        .row
          .col-xs-12.col-sm-8.col-sm-push-4
            .form-container
              h3
                span#typed-contact.typed
              p
                | Please check if you&apos;ve filled all the fields with valid information and try again. Thank you.
              .success
                p
                  strong Email Successfully Sent!
                |                                     
                p
                  | Thank you for contacting us 
                  strong
                  | ! We&apos;ll be in touch soon.
              form#contactform(method='post', action="<?php echo $_SERVER['form/PHP_SELF']; ?>")
                .row
                  .col-xs-12.col-md-6
                    label(for='contactname') Name:
                    |                                                 
                    input#contactname.required.form-control(type='text', name='contactname')
                  |                                             
                  .col-xs-12.col-md-6
                    label(for='email') Email:
                    |                                                 
                    input#email.required.email.form-control(type='text', name='email', value='')
                  |                                             
                  .col-xs-12.col-md-6
                    label(for='phone') Telephone:
                    |                                                 
                    input#phone.required.form-control(type='text', name='phone')
                  |                                             
                  .col-xs-12.col-md-6
                    label(for='subject') Subject:
                    |                                                 
                    input#subject.required.form-control(type='text', name='subject', value='')
                |                                         
                label(for='message') Message:
                |                                         
                textarea#message.required.form-control(rows='8', name='message', role='textbox')
                |                                         
                button#submitButton.btn.btn-green(type='submit', name='submit', title='Click here to submit your message!') Send Message
          |             
          .col-xs-12.col-sm-4.col-sm-pull-8
            aside.contact-info
              h3 Find Us
              |                     
              address
                | Solofy Inc. 
                br
                |                 65 E 14th Street
                br
                |                     NYC, NY 10037
              |                     
              .details
                | 757-560-7499
              |                     
              .details
                | contact@solofy.com
              |                     
              h3 Get Social
              |                     
              .contact-social
                a(href='#')
                  i.icon-facebook(aria-hidden='true')
                |                         
                a(href='#')
                  i.icon-twitter(aria-hidden='true')
                |                         
                a(href='#')
                  i.icon-github(aria-hidden='true')
                |                         
                a(href='#')
                  i.icon-dribbble(aria-hidden='true')
    // /contact
    // twitter feed
    // main footer
    include ./includes/footer.jade
    // /main footer
    // JS libs
    script(src='js/libs/jquery.min.js')
    script(src='js/libs/jquery-migrate.min.js')
    script(src='js/libs/bootstrap.min.js')
    script(src='js/libs/jquery.waypoints.min.js')
    // JS plugins
    script(src='js/plugins/superfish.js')
    script(src='js/plugins/isotope.min.js')
    script(src='js/plugins/jquery.counterup.min.js')
    script(src='js/plugins/instagram-fancybox.js')
    script(src='js/plugins/jquery.fancybox.pack.js')
    script(src='js/plugins/jquery.tweet.mod.js')
    // JS sliders
    script(src='js/plugins/jquery.flexslider-min.js')
    script(src='js/plugins/typed.js')
    script(src='js/plugins/wow.js')
    // JS maps
    script(src='http://maps.google.com/maps/api/js?sensor=false&language=en')
    script(src='js/plugins/gmap3.min.js')
    // JS main
    script(src='js/main.js')
    script.
      $('.google-map').gmap3({
      map: {
      address: "482 Broome St New York, NY 10013",
      options: {
      zoom: 14,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      mapTypeControl: false,
      mapTypeControlOptions: {
      style: google.maps.MapTypeControlStyle.DEFAULT
      },
      navigationControl: true,
      scrollwheel: false,
      streetViewControl: false,
      styles: [{
      "featureType": "administrative",
      "elementType": "labels.text.fill",
      "stylers": [{
      "color": "#444444"
      }]
      }, {
      "featureType": "landscape",
      "elementType": "all",
      "stylers": [{
      "color": "#f2f2f2"
      }]
      }, {
      "featureType": "poi",
      "elementType": "all",
      "stylers": [{
      "visibility": "off"
      }]
      }, {
      "featureType": "road",
      "elementType": "all",
      "stylers": [{
      "saturation": -100
      }, {
      "lightness": 45
      }]
      }, {
      "featureType": "road.highway",
      "elementType": "all",
      "stylers": [{
      "visibility": "simplified"
      }]
      }, {
      "featureType": "road.arterial",
      "elementType": "labels.icon",
      "stylers": [{
      "visibility": "off"
      }]
      }, {
      "featureType": "transit",
      "elementType": "all",
      "stylers": [{
      "visibility": "off"
      }]
      }, {
      "featureType": "water",
      "elementType": "all",
      "stylers": [{
      "color": "#00b4cc"
      }, {
      "visibility": "on"
      }]
      }]
      }
      },
      marker: {
      address: "482 Broome St New York, NY 10013"
      }
      });
    script.
      new WOW().init();
    script.
      $(document).ready(function() {
      // validate signup form on keyup and submit
      var validator = $("#contactform").validate({
      rules: {
      contactname: {
      required: true,
      minlength: 2
      },
      phone: {
      required: true,
      minlength: 10
      },
      email: {
      required: true,
      email: true
      },
      subject: {
      required: true,
      minlength: 2
      },
      message: {
      required: true,
      minlength: 10
      }
      },
      messages: {
      contactname: {
      required: "Please enter your name",
      minlength: jQuery.format("Your name needs to be at least {0} characters")
      },
      email: {
      required: "Please enter a valid email address",
      minlength: "Please enter a valid email address"
      },
      phone: {
      required: "Please enter your phone number",
      minlength: jQuery.format("Enter at least {0} characters")
      },
      subject: {
      required: "You need to enter a subject!",
      minlength: jQuery.format("Enter at least {0} characters")
      },
      message: {
      required: "You need to enter a message!",
      minlength: jQuery.format("Enter at least {0} characters")
      }
      },
      // set this class to error-labels to indicate valid fields
      success: function(label) {
      label.addClass("checked");
      }
      });
      });
